.about{
    height: 500px;
    border-bottom: 1px solid rgb(126, 125, 125);
    
   
}
.container_about{
    
    max-width: 1330px;
    margin: auto;
    
    padding-top: 100px;
    
   


    p{
        font-family: verdana;
        text-align: justify;

        padding: 40px 100px;
    }
}