.cartelera{
    border-bottom: 1px solid rgb(114, 114, 114);
}
.container_cartelera{
    max-width: 1330px;
    margin: auto;
    padding: 20px 0;
    

    h2{
        font-size: 1.5rem;
        font-family: verdana;
        text-align: center;
        padding-bottom: 1rem;
    }


    .figure{
        display: grid;
        grid-template-columns:  repeat(4, 1fr);
        grid-gap: 20px;
        padding: 0 15px;
    }
   
    img{
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}