footer{
    background: rgb(136, 136, 136);
}
.container_footer{
    max-width: 1330px;
    margin: auto;
    padding: 20px 0;
    
    p{
        text-align: center;
        color: white;
        font-family: verdana;
        font-size: 1rem;
    }
}