* {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 40px;
  font-family: verdana;
}

h2 {
  font-family: verdana;
  padding-left: 1rem;
  font-size: 1.5rem;
}

main {
  background: #dfdede;
}

header {
  background: #414141;
  padding: 15px 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo:hover .plus {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header_container {
  max-width: 1330px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_container h1 {
  color: white;
  padding-left: 15px;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 18px;
}

.header_container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_container li {
  list-style: none;
}

.header_container a {
  text-decoration: none;
  padding: 0 15px;
  font-family: verdana;
  color: #868686;
  -webkit-transition: .3s  ease;
  transition: .3s  ease;
}

.header_container a:hover {
  color: white;
  border-bottom: 2px solid #007488;
  text-shadow: 0 0 5px white;
}

.header_container .menu-icon {
  display: none;
}

@media (max-width: 600px) {
  header {
    background: #414141;
    padding: 15px 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    -webkit-box-shadow: 0 1px 10px black;
            box-shadow: 0 1px 10px black;
  }
  .header_container {
    display: block;
    position: relative;
  }
  .header_container .logo {
    padding-left: 20rem;
  }
  .header_container .menu-icon {
    display: block;
    cursor: pointer;
    position: absolute;
    top: -1px;
    left: 10px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .header_container .navigation {
    width: 100%;
  }
  .header_container .navigation ul {
    display: none;
  }
  .header_container .navigation ul.show {
    display: block;
  }
  .header_container .navigation ul li {
    display: block;
  }
  .header_container .navigation ul li a {
    display: block;
    padding: 0.5rem 0;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    text-align: center;
  }
  .header_container .navigation ul li a:hover {
    background-color: #8a9695;
  }
}

.slider {
  width: 100%;
  height: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 400%;
  -webkit-animation: cambio 20s infinite;
          animation: cambio 20s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider .img1 {
  background-image: url("../image/img1.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.slider .img2 {
  background-image: url("../image/img2.png");
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.slider .img3 {
  background-image: url("../image/img3.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.slider .img4 {
  background-image: url("../image/img4.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
  width: 100%;
}

@media (max-width: 600px) {
  .slider {
    height: 200px;
    width: 100%;
  }
  .slider img {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.cartelera {
  border-bottom: 1px solid #727272;
}

.container_cartelera {
  max-width: 1330px;
  margin: auto;
  padding: 20px 0;
}

.container_cartelera h2 {
  font-size: 1.5rem;
  font-family: verdana;
  text-align: center;
  padding-bottom: 1rem;
}

.container_cartelera .figure {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 0 15px;
}

.container_cartelera .image-box {
  margin: auto;
  overflow: hidden;
}

.container_cartelera .image-box img {
  max-width: 100%;
  -webkit-transition: all 2.0s;
  transition: all 2.0s;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.container_cartelera .image-box:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.container_cartelera img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .container_cartelera {
    max-width: 1330px;
    margin: auto;
    padding: 20px 0;
  }
  .container_cartelera .figure {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 0 15px;
  }
}

footer {
  background: #888888;
}

.container_footer {
  max-width: 1330px;
  margin: auto;
  padding: 20px 0;
}

.container_footer p {
  text-align: center;
  color: white;
  font-family: verdana;
  font-size: 1rem;
}

.about {
  height: 500px;
  border-bottom: 1px solid #7e7d7d;
}

.container_about {
  max-width: 1330px;
  margin: auto;
  padding-top: 100px;
}

.container_about p {
  font-family: verdana;
  text-align: justify;
  padding: 40px 100px;
}
/*# sourceMappingURL=index.css.map */